/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #ffffff;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text-black: #000000;
  --color-text-gray: #8189A3;
  --color-text: var(--vt-c-text-light-1);

  --color-shadow: #D4DEFE;
  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  scrollbar-width: thin;
  scrollbar-color: var(--color-shadow) var(--color-background);
}

body {
  min-height: 100vh;
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Proxima Nova, sans-serif;
  font-size: 15px;

  place-items: center;
}


/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: rgba(60, 60, 60, 0.66);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.user-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 90vw;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 32%));
  gap: 1.6vw;
  width: 100%;
  padding: 0;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  padding: 15px 30px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.user-card:hover {
  box-shadow: 0 0 20px 3px var(--color-shadow);
}

.icon{
  margin-right: 15px;
  height: 26px;
  aspect-ratio: 1;
}

.loupe{
  padding: 4px 2px 0 2px;
  height: 24px;
  aspect-ratio: 1;
}

.text{
  display: flex;
  padding: 7px 0;
  line-height: 25px;
  font-weight: 400;
  font-family: Proxima Nova, sans-serif;
  font-size: 14px;
  color: var(--color-text-gray);
}

.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 87vw;
  padding: 0 24px;
  font-family: Proxima Nova, sans-serif;
  border-radius: 24px;
}

.label-inp{
  margin: 0 15px 0 10px;
  color: var(--color-text-gray);
}

.search-inp {
  margin-right: 15px;
  padding: 0 12px;
  flex-grow: 1;
  height: 30px;
  font-size: 15px;
  color: var(--color-text-gray);
  border: 1px solid var(--color-shadow);
  border-radius: 15px;
  outline:none;
  transition: 0.4s ease-in-out;
}

.search-button{
  margin-left: 15px;
  padding: 1px 4px;
  background: none;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.search-inp:hover, .search-button:hover {
  box-shadow: 0 0 20px 1px var(--color-shadow);
}

.search-button:hover{
  background-color: rgba(212, 222, 254, 0.44);
}

.info-text{
  text-align: center;
  margin-bottom: 20px;
}

.container {
  --uib-size: 40px;
  --uib-color: rgba(122, 147, 238, 0.52);
  --uib-speed: .9s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  transition: background-color 0.3s ease;
}

.dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

